The aim of this notebook is to analyse Data Wave's customer data. This has already been cleaned in BigQuery.
The first part is to import my packages.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#Importing Data File and Describing Data

df = pd.read_csv("customer_data_removed_duplicates.csv")

df.describe()

,age,avg_listening_hours_per_week,total_songs_played,satisfaction_score,churned,monthly_fee
count,700.000000,700.000000,700.000000,656.000000,700.000000,585.000000
mean,38.488571,10.025286,499.062857,3.140244,0.305714,7.492000
std,15.241448,4.813759,22.493020,1.185857,0.461039,3.987076
min,13.000000,0.100000,440.000000,1.000000,0.000000,0.000000
25%,25.000000,6.600000,484.000000,2.000000,0.000000,5.000000
50%,39.000000,10.000000,498.000000,3.000000,0.000000,7.990000
75%,51.000000,13.300000,513.000000,4.000000,1.000000,9.990000
max,64.000000,23.700000,571.000000,5.000000,1.000000,12.990000